.card__warp {
    width: 100%; 
    height: 200px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(76, 14, 221, 0.24);
    padding: 3rem;
    text-align: center;
    transition: transform ;
    margin-bottom: 3rem;
}

.card__warp:hover {
    transform: scale(1.1);
}

.warp__title {
    font-size: 20px;
    font-weight: 600;
}
