/* Small Screen */
.container {
    background-color: #6C63FF;
    color: #caf0f8;
    padding: 2rem;
    font-family: 'montserrat', sans-serif;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer__logo {
    width: 200px;
    margin: auto;
    padding-bottom: 1rem;
  }
  
  .footer__title {
    margin-bottom: 1rem;
  }

  .footer__list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 17px;
    font-weight: 500;
  }
  
  .footer__item {
    margin-bottom: 1rem;
  }

  
  /* Medium Screen */
  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .footer__list {
      flex-direction: row;
    }
  
    .footer__item {
      margin: 0 1rem;
    }
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    .container {
      width: 100%;
      margin: 0 auto;
    }

    .footer {
      padding: 0.5rem 0.5rem;
    }

    .footer__logo {
      width: 300px;
      margin-left: 1px;
    }

    .footer__description {
      margin-top: 1rem;
      text-align: justify;
    }

    .footer__list {
      flex-direction: row;
    }
  
    .footer__item {
      margin: 0 3rem 1rem 1rem;
    }


  }